$amber : () !default;

$amber : map-merge((
  name: 'amber',
  50: #FFF8E1,
  100: #FFECB3,
  200: #FFE082,
  300: #FFD54F,
  400: #FFCA28,
  500: #FFC107,
  600: #FFB300,
  700: #FFA000,
  800: #FF8F00,
  900: #FF6F00,
  a100: #FFE57F,
  a200: #FFD740,
  a400: #FFC400,
  a700: #FFAB00
), $amber);

$amber-50   : map-get($amber, 50) !default;
$amber-100  : map-get($amber, 100) !default;
$amber-200  : map-get($amber, 200) !default;
$amber-300  : map-get($amber, 300) !default;
$amber-400  : map-get($amber, 400) !default;
$amber-500  : map-get($amber, 500) !default;
$amber-600  : map-get($amber, 600) !default;
$amber-700  : map-get($amber, 700) !default;
$amber-800  : map-get($amber, 800) !default;
$amber-900  : map-get($amber, 900) !default;
$amber-a100 : map-get($amber, a100) !default;
$amber-a200 : map-get($amber, a200) !default;
$amber-a400 : map-get($amber, a400) !default;
$amber-a700 : map-get($amber, a700) !default;