$amber : (
  50: #FFF8E1,
  100: #FFECB3,
  200: #FFE082,
  300: #FFD54F,
  400: #FFCA28,
  500: #FFC107,
  600: #FFB300,
  700: #FFA000,
  800: #FF8F00,
  900: #FF6F00,
  a100: #FFE57F,
  a200: #FFD740,
  a400: #FFC400,
  a700: #FFAB00
);

$amber-50   : map-get($amber, 50);
$amber-100  : map-get($amber, 100);
$amber-200  : map-get($amber, 200);
$amber-300  : map-get($amber, 300);
$amber-400  : map-get($amber, 400);
$amber-500  : map-get($amber, 500);
$amber-600  : map-get($amber, 600);
$amber-700  : map-get($amber, 700);
$amber-800  : map-get($amber, 800);
$amber-900  : map-get($amber, 900);
$amber-a100 : map-get($amber, a100);
$amber-a200 : map-get($amber, a200);
$amber-a400 : map-get($amber, a400);
$amber-a700 : map-get($amber, a700);