$blue : () !default;

$blue : map-merge((
  name: 'blue',
  50: #E3F2FD,
  100: #BBDEFB,
  200: #90CAF9,
  300: #64B5F6,
  400: #42A5F5,
  500: #2196F3,
  600: #1E88E5,
  700: #1976D2,
  800: #1565C0,
  900: #0D47A1,
  a100: #82B1FF,
  a200: #448AFF,
  a400: #2979FF,
  a700: #2962FF
), $blue);

$blue-50   : map-get($blue, 50) !default;
$blue-100  : map-get($blue, 100) !default;
$blue-200  : map-get($blue, 200) !default;
$blue-300  : map-get($blue, 300) !default;
$blue-400  : map-get($blue, 400) !default;
$blue-500  : map-get($blue, 500) !default;
$blue-600  : map-get($blue, 600) !default;
$blue-700  : map-get($blue, 700) !default;
$blue-800  : map-get($blue, 800) !default;
$blue-900  : map-get($blue, 900) !default;
$blue-a100 : map-get($blue, a100) !default;
$blue-a200 : map-get($blue, a200) !default;
$blue-a300 : map-get($blue, a300) !default;
$blue-a400 : map-get($blue, a400) !default;