$cyan : () !default;

$cyan : map-merge((
  name: 'cyan',
  50: #E0F7FA,
  100: #B2EBF2,
  200: #80DEEA,
  300: #4DD0E1,
  400: #26C6DA,
  500: #00BCD4,
  600: #00ACC1,
  700: #0097A7,
  800: #00838F,
  900: #006064,
  a100: #84FFFF,
  a200: #18FFFF,
  a400: #00E5FF,
  a700: #00B8D4
), $cyan);

$cyan-50   : map-get($cyan, 50) !default;
$cyan-100  : map-get($cyan, 100) !default;
$cyan-200  : map-get($cyan, 200) !default;
$cyan-300  : map-get($cyan, 300) !default;
$cyan-400  : map-get($cyan, 400) !default;
$cyan-500  : map-get($cyan, 500) !default;
$cyan-600  : map-get($cyan, 600) !default;
$cyan-700  : map-get($cyan, 700) !default;
$cyan-800  : map-get($cyan, 800) !default;
$cyan-900  : map-get($cyan, 900) !default;
$cyan-a100  : map-get($cyan, a100) !default;
$cyan-a200  : map-get($cyan, a200) !default;
$cyan-a400  : map-get($cyan, a400) !default;
$cyan-a700  : map-get($cyan, a700) !default;