$deep-purple: () !default;

$deep-purple : map-merge((
  name: 'deep-purple',
  50: #EDE7F6,
  100: #D1C4E9,
  200: #B39DDB,
  300: #9575CD,
  400: #7E57C2,
  500: #673AB7,
  600: #5E35B1,
  700: #512DA8,
  800: #4527A0,
  900: #311B92,
  a100: #B388FF,
  a200: #7C4DFF,
  a400: #651FFF,
  a700: #6200EA
), $deep-purple);

$deep-purple-50   : map-get($deep-purple, 50) !default;
$deep-purple-100  : map-get($deep-purple, 100) !default;
$deep-purple-200  : map-get($deep-purple, 200) !default;
$deep-purple-300  : map-get($deep-purple, 300) !default;
$deep-purple-400  : map-get($deep-purple, 400) !default;
$deep-purple-500  : map-get($deep-purple, 500) !default;
$deep-purple-600  : map-get($deep-purple, 600) !default;
$deep-purple-700  : map-get($deep-purple, 700) !default;
$deep-purple-800  : map-get($deep-purple, 800) !default;
$deep-purple-900  : map-get($deep-purple, 900) !default;
$deep-purple-a100 : map-get($deep-purple, a100) !default;
$deep-purple-a200 : map-get($deep-purple, a200) !default;
$deep-purple-a400 : map-get($deep-purple, a400) !default;
$deep-purple-a700 : map-get($deep-purple, a700) !default;