$gray : (
  name: 'gray',
  50: #FAFAFA,
  100: #F5F5F5,
  200: #EEEEEE,
  300: #E0E0E0,
  400: #BDBDBD,
  500: #9E9E9E,
  600: #757575,
  700: #616161,
  800: #424242,
  900: #212121
);

$gray-50   : map-get($gray, 50) !default;
$gray-100  : map-get($gray, 100) !default;
$gray-200  : map-get($gray, 200) !default;
$gray-300  : map-get($gray, 300) !default;
$gray-400  : map-get($gray, 400) !default;
$gray-500  : map-get($gray, 500) !default;
$gray-600  : map-get($gray, 600) !default;
$gray-700  : map-get($gray, 700) !default;
$gray-800  : map-get($gray, 800) !default;
$gray-900  : map-get($gray, 900) !default;