$indigo : (
  name: 'indigo',
  50: #E8EAF6,
  100: #C5CAE9,
  200: #9FA8DA,
  300: #7986CB,
  400: #5C6BC0,
  500: #3F51B5,
  600: #3949AB,
  700: #303F9F,
  800: #283593,
  900: #1A237E,
  a100: #8C9EFF,
  a200: #536DFE,
  a400: #3D5AFE,
  a700: #304FFE
) !default;

$indigo-50  : map-get($indigo, 50) !default;
$indigo-100 : map-get($indigo, 100) !default;
$indigo-200 : map-get($indigo, 200) !default;
$indigo-300 : map-get($indigo, 300) !default;
$indigo-400 : map-get($indigo, 400) !default;
$indigo-500 : map-get($indigo, 500) !default;
$indigo-600 : map-get($indigo, 600) !default;
$indigo-700 : map-get($indigo, 700) !default;
$indigo-800 : map-get($indigo, 800) !default;
$indigo-900 : map-get($indigo, 900) !default;
$indigo-a100 : map-get($indigo, a100) !default;
$indigo-a200 : map-get($indigo, a200) !default;
$indigo-a400 : map-get($indigo, a400) !default;
$indigo-a700 : map-get($indigo, a700) !default;