$light-blue : (
  name: 'light-blue',
  50: #E1F5FE,
  100: #B3E5FC,
  200: #81D4FA,
  300: #4FC3F7,
  400: #29B6F6,
  500: #03A9F4,
  600: #039BE5,
  700: #0288D1,
  800: #0277BD,
  900: #01579B,
  a100: #80D8FF,
  a200: #40C4FF,
  a400: #00B0FF,
  a700: #0091EA
);

$light-blue-50   : map-get($light-blue, 50) !default;
$light-blue-100  : map-get($light-blue, 100) !default;
$light-blue-200  : map-get($light-blue, 200) !default;
$light-blue-300  : map-get($light-blue, 300) !default;
$light-blue-400  : map-get($light-blue, 400) !default;
$light-blue-500  : map-get($light-blue, 500) !default;
$light-blue-600  : map-get($light-blue, 600) !default;
$light-blue-700  : map-get($light-blue, 700) !default;
$light-blue-800  : map-get($light-blue, 800) !default;
$light-blue-900  : map-get($light-blue, 900) !default;
$light-blue-a100 : map-get($light-blue, a100) !default;
$light-blue-a200 : map-get($light-blue, a200) !default;
$light-blue-a400 : map-get($light-blue, a400) !default;
$light-blue-a700 : map-get($light-blue, a700) !default;