$yellow : (
  50: #FFFDE7,
  100: #FFF9C4,
  200: #FFF59D,
  300: #FFF176,
  400: #FFEE58,
  500: #FFEB3B,
  600: #FDD835,
  700: #FBC02D,
  800: #F9A825,
  900: #F57F17,
  a100: #FFFF8D,
  a200: #FFFF00,
  a400: #FFEA00,
  a700: #FFD600
);

$yellow-50   : map-get($yellow, 50);
$yellow-100  : map-get($yellow, 100);
$yellow-200  : map-get($yellow, 200);
$yellow-300  : map-get($yellow, 300);
$yellow-400  : map-get($yellow, 400);
$yellow-500  : map-get($yellow, 500);
$yellow-600  : map-get($yellow, 600);
$yellow-700  : map-get($yellow, 700);
$yellow-800  : map-get($yellow, 800);
$yellow-900  : map-get($yellow, 900);
$yellow-a100 : map-get($yellow, a100);
$yellow-a200 : map-get($yellow, a200);
$yellow-a400 : map-get($yellow, a400);
$yellow-a700 : map-get($yellow, a700);